In [3]:
#import modules we need to use for this session
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv( 'network_time_converted.csv' , index_col=0 )
df.head()

/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Meter_ID,DT,READING,BAD,LOADCONTROL,FILLED,INCOMPLETE,LOADEVENT,year,day
0,SYS:WLOAD.T,01/01/2008 00:00,5948.762,False,False,False,False,False,2008,2008-01-01
1,SYS:WLOAD.T,01/01/2008 01:00,5701.739,False,False,False,False,False,2008,2008-01-01
2,SYS:WLOAD.T,01/01/2008 02:00,5434.077,False,False,False,False,False,2008,2008-01-01
3,SYS:WLOAD.T,01/01/2008 03:00,5243.840,False,False,False,False,False,2008,2008-01-01
4,SYS:WLOAD.T,01/01/2008 04:00,5145.929,False,False,False,False,False,2008,2008-01-01

In [5]:
df["DT"]= pd.to_datetime(df.DT)

In [6]:
df.DT.dt.year.unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [7]:
df['year'] = df['DT'].dt.year

In [8]:
df2013 = df.loc[df['year']==2013]

In [9]:
df2013=df2013.drop(['year', 'day'], axis=1)

In [10]:
df2013.to_csv("output/NYC2013.csv")

In [11]:
df2013.head()

,Meter_ID,DT,READING,BAD,LOADCONTROL,FILLED,INCOMPLETE,LOADEVENT
43848,SYS:WLOAD.T,2013-01-01 00:00:00,5860.865,False,False,False,False,False
43849,SYS:WLOAD.T,2013-01-01 01:00:00,5640.712,False,False,False,False,False
43850,SYS:WLOAD.T,2013-01-01 02:00:00,5392.987,False,False,False,False,False
43851,SYS:WLOAD.T,2013-01-01 03:00:00,5204.649,False,False,False,False,False
43852,SYS:WLOAD.T,2013-01-01 04:00:00,5118.965,False,False,False,False,False

In [12]:
NYC_daily= df2013.groupby(['Meter_ID',df2013.DT.dt.date]).sum()

In [13]:
NYC_daily.head()

                           READING  BAD  LOADCONTROL  FILLED  INCOMPLETE  \
Meter_ID      DT
1012MLODWXA.T 2013-01-01  2339.778  0.0          0.0     0.0         0.0
              2013-01-02  2536.866  0.0          0.0     0.0         0.0
              2013-01-03  2335.669  0.0          0.0     0.0         0.0
              2013-01-04  2517.847  0.0          0.0     0.0         0.0
              2013-01-05  2175.575  0.0          0.0     0.0         0.0

                          LOADEVENT
Meter_ID      DT
1012MLODWXA.T 2013-01-01        0.0
              2013-01-02        0.0
              2013-01-03        0.0
              2013-01-04        0.0
              2013-01-05        0.0

In [14]:
#NYC daily power use on 2013 (meter wise)
NYC_daily.to_csv("output/NYC_daily_zone_wise.csv")

In [15]:
NYC_daily_whole= df2013.groupby([df2013.DT.dt.date]).sum()

In [16]:
NYC_daily_whole.head()

               READING  BAD  LOADCONTROL  FILLED  INCOMPLETE  LOADEVENT
DT
2013-01-01  256520.791  0.0          0.0     0.0         0.0        0.0
2013-01-02  292925.203  0.0          0.0     0.0         0.0        0.0
2013-01-03  292680.543  0.0          0.0     0.0         0.0        0.0
2013-01-04  289281.249  0.0          0.0     0.0         0.0        0.0
2013-01-05  262504.643  0.0          0.0     0.0         0.0        0.0

In [17]:
#NYC daily power use 2013 for entire city
NYC_daily_whole.to_csv("output/NYC_daily_whole_NYC.csv")

In [18]:
NYC_monthly= df2013.groupby(['Meter_ID',df2013.DT.dt.month]).sum()

In [19]:
NYC_monthly.head()

                      READING  BAD  LOADCONTROL  FILLED  INCOMPLETE  LOADEVENT
Meter_ID      DT
1012MLODWXA.T 1   76087.53600  0.0          0.0     0.0         0.0        0.0
              2   70860.70500  0.0          0.0     0.0         0.0        0.0
              3   75579.16000  0.0          0.0     0.0         0.0        0.0
              4   70891.31954  0.0          0.0     0.0         0.0        0.0
              5   75844.96248  0.0          0.0     0.0         0.0        0.0

In [20]:
#meterwise NYC monthly power use 2013
NYC_monthly.to_csv("output/NYC_monthly_zone_wise.csv")

In [21]:
NYC_monthly_whole= df2013.groupby([df2013.DT.dt.month]).sum()

In [23]:
# montly power use for entire city 2013
NYC_monthly_whole.to_csv("output/NYC_monthly_whole_nyc.csv")

In [24]:
#yearly
NYC_yearly_zone= df2013.groupby(['Meter_ID']).sum()

In [25]:
NYC_yearly_zone.to_csv("output/NYC_2013_zone_wise.csv")

# Brooklyn

In [26]:
bk1= df2013.loc[df2013['Meter_ID']=="BN110BLODWXA.T"]

In [27]:
bk2= df2013.loc[df2013['Meter_ID']=="BN17BLODWXA.T"]

In [28]:
bk3= df2013.loc[df2013['Meter_ID']=="BN211BLODWXA.T"]

In [29]:
bk4= df2013.loc[df2013['Meter_ID']=="BN24BLODWXA.T"]

In [30]:
bk5= df2013.loc[df2013['Meter_ID']=="BV13BLODWXA.T"]

In [31]:
bk6= df2013.loc[df2013['Meter_ID']=="BV15BLODWXA.T"]

In [32]:
bk7= df2013.loc[df2013['Meter_ID']=="BV29BLODWXA.T"]

In [33]:
bk8= df2013.loc[df2013['Meter_ID']=="GR2BLODWXA.T"]

In [34]:
bk9= df2013.loc[df2013['Meter_ID']=="GR8BLODWXA.T"]

In [35]:
bk10= df2013.loc[df2013['Meter_ID']=="PY1BLODWXA.T"]

In [36]:
bk11= df2013.loc[df2013['Meter_ID']=="WT12BLODWXA.T"]

In [37]:
bk12= df2013.loc[df2013['Meter_ID']=="WT6BLODWXA.T"]

In [38]:
Brooklyn2013 = bk1.append([bk2, bk3,bk4,bk5,bk6,bk7,bk8,bk9,bk10,bk11,bk12])

In [39]:
Brooklyn2013.head()

,Meter_ID,DT,READING,BAD,LOADCONTROL,FILLED,INCOMPLETE,LOADEVENT
1841544,BN110BLODWXA.T,2013-01-01 00:00:00,68.331,False,False,False,False,False
1841545,BN110BLODWXA.T,2013-01-01 01:00:00,64.627,False,False,False,False,False
1841546,BN110BLODWXA.T,2013-01-01 02:00:00,61.103,False,False,False,False,False
1841547,BN110BLODWXA.T,2013-01-01 03:00:00,58.366,False,False,False,False,False
1841548,BN110BLODWXA.T,2013-01-01 04:00:00,56.413,False,False,False,False,False

In [40]:
#Brooklyn2013.to_csv("output/Brooklyn2013.csv")

In [41]:
BK_daily= Brooklyn2013.groupby(['Meter_ID',Brooklyn2013.DT.dt.date]).sum()

In [42]:
BK_daily.head()

                            READING    BAD  LOADCONTROL  FILLED  INCOMPLETE  \
Meter_ID       DT
BN110BLODWXA.T 2013-01-01  1669.842  False        False   False       False
               2013-01-02  1782.315  False        False   False       False
               2013-01-03  1779.503  False        False   False       False
               2013-01-04  1807.548  False        False   False       False
               2013-01-05  1746.622  False        False   False       False

                           LOADEVENT
Meter_ID       DT
BN110BLODWXA.T 2013-01-01      False
               2013-01-02      False
               2013-01-03      False
               2013-01-04      False
               2013-01-05      False

In [48]:
# Brooklyn daily meterwise power use for 2013
BK_daily.to_csv("output/Brooklyn_daily_zone_wise.csv")

In [49]:
# daily without districts

In [50]:
BK_daily_total= Brooklyn2013.groupby([Brooklyn2013.DT.dt.date]).sum()

In [51]:
# Entire Brooklyn daily power use for 2013
BK_daily_total.to_csv("output/Brooklyn_daily_whole_BK.csv")

In [52]:
BK_month= Brooklyn2013.groupby(['Meter_ID',Brooklyn2013.DT.dt.month]).sum()

In [53]:
# Brooklyn meterwise monthly power use for 2013
BK_month.to_csv("output/Brooklyn_monthly_zone_wise.csv")

In [54]:
BK_month_whole= Brooklyn2013.groupby([Brooklyn2013.DT.dt.month]).sum()

In [55]:
# Entire Brooklyn monthly power use for 2013
BK_month_whole.to_csv("output/Brooklyn_Monthly_whole_BK.csv")

# BRONX

In [56]:
bronx1= df2013.loc[df2013['Meter_ID']=="793XLODWXA.T"]
bronx2= df2013.loc[df2013['Meter_ID']=="BR2XLODWXA.T"]
bronx3= df2013.loc[df2013['Meter_ID']=="MT4XLODWXA.T"]
bronx4= df2013.loc[df2013['Meter_ID']=="PK17XLODWXA.T"]
bronx5= df2013.loc[df2013['Meter_ID']=="PK25XLODWXA.T"]
bronx6= df2013.loc[df2013['Meter_ID']=="SC1XLODWXA.T"]

In [57]:
Bronx2013 = bronx1.append([bronx2, bronx3,bronx4,bronx5,bronx6])

In [58]:
Bronx2013.to_csv("output/Bronx2013hourly.csv")

In [59]:
Bronx2013.count()

Meter_ID       52560
DT             52560
READING        52527
BAD            52560
LOADCONTROL    52560
FILLED         52560
INCOMPLETE     52560
LOADEVENT      52560
dtype: int64

In [60]:

Bronx_daily= Bronx2013.groupby(['Meter_ID',Bronx2013.DT.dt.date]).sum()

In [61]:
# Bronx daily meterwise power use for 2013
Bronx_daily.to_csv("output/Bronx_daily_zone_wise.csv")

In [62]:
# Entire Bronx daily power use for 2013

Bronx_daily_total= Bronx2013.groupby([Bronx2013.DT.dt.date]).sum()
Bronx_daily_total.to_csv("output/Bronx_daily_whole_BK.csv")

In [63]:
# Bronx monthly meterwise power use for 2013
Bronx_month= Bronx2013.groupby(['Meter_ID',Bronx2013.DT.dt.month]).sum()
Bronx_month.to_csv("output/Bronx_monthly_zone_wise.csv")

In [64]:
# Entire Bronx monthly power use for 2013
Bronx_month_whole= Bronx2013.groupby([Bronx2013.DT.dt.month]).sum()
Bronx_month_whole.to_csv("output/Bronx_Monthly_whole_BK.csv")

# Manhattan

In [65]:
Manhattan1= df2013.loc[df2013['Meter_ID']=="1012MLODWXA.T"]
Manhattan2= df2013.loc[df2013['Meter_ID']=="710217MLODWXA.T"]
Manhattan3= df2013.loc[df2013['Meter_ID']=="1913MLODWXA.T"]
Manhattan4= df2013.loc[df2013['Meter_ID']=="296MLODWXA.T"]

Manhattan5= df2013.loc[df2013['Meter_ID']=="3626MLODWXA.T"]
Manhattan6= df2013.loc[df2013['Meter_ID']=="3643MLODWXA.T"]
Manhattan7= df2013.loc[df2013['Meter_ID']=="4014MLODWXA.T"]
Manhattan8= df2013.loc[df2013['Meter_ID']=="40229MLODWXA.T"]

Manhattan9= df2013.loc[df2013['Meter_ID']=="42116MLODWXA.T"]
Manhattan10= df2013.loc[df2013['Meter_ID']=="42221MLODWXA.T"]
Manhattan11= df2013.loc[df2013['Meter_ID']=="5039MLODWXA.T"]
Manhattan12= df2013.loc[df2013['Meter_ID']=="505MLODWXA.T"]
Manhattan13= df2013.loc[df2013['Meter_ID']=="63120MLODWXA.T"]
Manhattan14= df2013.loc[df2013['Meter_ID']=="6319MLODWXA.T"]

Manhattan15= df2013.loc[df2013['Meter_ID']=="63225MLODWXA.T"]
Manhattan16= df2013.loc[df2013['Meter_ID']=="63231MLODWXA.T"]
Manhattan17= df2013.loc[df2013['Meter_ID']=="65111MLODWXA.T"]
Manhattan18= df2013.loc[df2013['Meter_ID']=="65219MLODWXA.T"]
Manhattan19= df2013.loc[df2013['Meter_ID']=="65223MLODWXA.T"]
Manhattan20= df2013.loc[df2013['Meter_ID']=="7524MLODWXA.T"]

Manhattan21= df2013.loc[df2013['Meter_ID']=="AA7MLODWXA.T"]
Manhattan22= df2013.loc[df2013['Meter_ID']=="AR28MLODWXA.T"]
Manhattan23= df2013.loc[df2013['Meter_ID']=="BR14MLODWXA.T"]
Manhattan24= df2013.loc[df2013['Meter_ID']=="CH8MLODWXA.T"]
Manhattan25= df2013.loc[df2013['Meter_ID']=="HG3MLODWXA.T"]
Manhattan26= df2013.loc[df2013['Meter_ID']=="LE110MLODWXA.T"]
Manhattan27= df2013.loc[df2013['Meter_ID']=="LE132MLODWXA.T"]
Manhattan28= df2013.loc[df2013['Meter_ID']=="LE222MLODWXA.T"]
Manhattan29= df2013.loc[df2013['Meter_ID']=="LE234MLODWXA.T"]
Manhattan30= df2013.loc[df2013['Meter_ID']=="MH12MLODWXA.T"]
Manhattan31= df2013.loc[df2013['Meter_ID']=="MH30MLODWXA.T"]
Manhattan32= df2013.loc[df2013['Meter_ID']=="PA44MLODWXA.T"]

Manhattan33= df2013.loc[df2013['Meter_ID']=="SC1MLODWXA.T"]
Manhattan34= df2013.loc[df2013['Meter_ID']=="SE115MLODWXA.T"]
Manhattan35= df2013.loc[df2013['Meter_ID']=="SE140MLODWXA.T"]
Manhattan36= df2013.loc[df2013['Meter_ID']=="SE227MLODWXA.T"]
Manhattan37= df2013.loc[df2013['Meter_ID']=="TC18MLODWXA.T"]
Manhattan38= df2013.loc[df2013['Meter_ID']=="TC41MLODWXA.T"]

In [66]:
Manhattan2013 = Manhattan1.append([Manhattan2, Manhattan3,Manhattan4,Manhattan5,Manhattan6,Manhattan7,
                                   Manhattan8,Manhattan9,Manhattan10,Manhattan11, Manhattan12,Manhattan13,Manhattan14,
                                   Manhattan15,Manhattan16,Manhattan17,Manhattan18,Manhattan19,Manhattan20,
                                   
                                   Manhattan21, Manhattan22,Manhattan23,Manhattan24,Manhattan25,Manhattan26,
                                   Manhattan27,Manhattan28,Manhattan29,Manhattan30, Manhattan31,Manhattan32,Manhattan33,
                                   Manhattan34,Manhattan35,Manhattan36,Manhattan37,Manhattan38
                                   ])

In [67]:
Manhattan2013.to_csv("output/Manhattan2013hourly.csv")

In [68]:
Manhattan2013.count()

Meter_ID       324120
DT             324120
READING        254651
BAD            324120
LOADCONTROL    324120
FILLED         324120
INCOMPLETE     324120
LOADEVENT      324120
dtype: int64

In [69]:
Manhattan_daily= Manhattan2013.groupby(['Meter_ID',Manhattan2013.DT.dt.date]).sum()

In [70]:
# Manhattan daily meterwise power use for 2013
Manhattan_daily.to_csv("output/Manhattan_daily_zone_wise.csv")

In [71]:
# Entire Manhattan daily power use for 2013

Manhattan_daily_total= Manhattan2013.groupby([Manhattan2013.DT.dt.date]).sum()
Manhattan_daily_total.to_csv("output/Manhattan_daily_whole_BK.csv")

In [72]:
# Manhattan monthly meterwise power use for 2013
Manhattan_month= Manhattan2013.groupby(['Meter_ID',Manhattan2013.DT.dt.month]).sum()
Manhattan_month.to_csv("output/Manhattan_monthly_zone_wise.csv")

In [73]:
# Entire Manhattan monthly power use for 2013
Manhattan_month_whole= Manhattan2013.groupby([Manhattan2013.DT.dt.month]).sum()
Manhattan_month_whole.to_csv("output/Manhattan_Monthly_whole_BK.csv")

# queens

In [74]:
queens1= df2013.loc[df2013['Meter_ID']=="CO17QLODWXA.T"]
queens2= df2013.loc[df2013['Meter_ID']=="CO23QLODWXA.T"]
queens3= df2013.loc[df2013['Meter_ID']=="CO29QLODWXA.T"]
queens4= df2013.loc[df2013['Meter_ID']=="GL6QLODWXA.T"]
queens5= df2013.loc[df2013['Meter_ID']=="JA5QLODWXA.T"]
queens6= df2013.loc[df2013['Meter_ID']=="NQ1QLODWXA.T"]
queens7= df2013.loc[df2013['Meter_ID']=="NT10QLODWXA.T"]
queens8= df2013.loc[df2013['Meter_ID']=="NT2QLODWXA.T"]

In [75]:
queens2013 = queens1.append([queens2,queens3,queens4,queens5,queens6,queens7,queens8])

In [76]:
queens_daily= queens2013.groupby(['Meter_ID',queens2013.DT.dt.date]).sum()

In [77]:
# Queens daily meterwise power use for 2013
queens_daily.to_csv("output/Queens_daily_zone_wise.csv")

In [78]:
# Entire Queens daily power use for 2013

queens_daily_total= queens2013.groupby([queens2013.DT.dt.date]).sum()
queens_daily_total.to_csv("output/Queens_daily_whole_BK.csv")

In [79]:
# Queens monthly meterwise power use for 2013
queens_month= queens2013.groupby(['Meter_ID',queens2013.DT.dt.month]).sum()
queens_month.to_csv("output/Queens_monthly_zone_wise.csv")

In [80]:
# Entire Queens monthly power use for 2013
queens_month_whole= queens2013.groupby([queens2013.DT.dt.month]).sum()
queens_month_whole.to_csv("output/Queens_Monthly_whole_BK.csv")

# Staten Island

In [81]:
SI1= df2013.loc[df2013['Meter_ID']=="FH33RLODWXA.T"]
SI2= df2013.loc[df2013['Meter_ID']=="FK33RLODWXA.T"]
SI3= df2013.loc[df2013['Meter_ID']=="WB4RLODWXA.T"]
SI4= df2013.loc[df2013['Meter_ID']=="WR5RLODWXA.T"]
SI5= df2013.loc[df2013['Meter_ID']=="WW3RLODWXA.T"]

In [82]:
staten2013 = SI1.append([SI2,SI3,queens4,SI4,SI5])

In [83]:
staten2013.count()

Meter_ID       52560
DT             52560
READING        43781
BAD            52560
LOADCONTROL    52560
FILLED         52560
INCOMPLETE     52560
LOADEVENT      52560
dtype: int64

In [84]:
staten_daily= staten2013.groupby(['Meter_ID',staten2013.DT.dt.date]).sum()

In [85]:
# Staten Island daily meterwise power use for 2013
staten_daily.to_csv("output/Staten_daily_zone_wise.csv")

In [86]:
# Entire Staten Island daily power use for 2013
staten_daily_total= staten2013.groupby([staten2013.DT.dt.date]).sum()
staten_daily_total.to_csv("output/Staten_daily_whole_BK.csv")

In [87]:
# Staten Island Monthly meterwise power use for 2013
staten_month= staten2013.groupby(['Meter_ID',staten2013.DT.dt.month]).sum()
staten_month.to_csv("output/Staten_monthly_zone_wise.csv")

In [88]:
# Entire Staten Island Monthly power use for 2013
staten_month_whole= staten2013.groupby([staten2013.DT.dt.month]).sum()
staten_month_whole.to_csv("output/Staten_Monthly_whole_BK.csv")